@import "common";
@import "aside";

.screen-header {
    border-bottom: 1px solid #eee;
}

.seat {
    table-layout: fixed;
    border-collapse:separate;
    border-spacing: 2px;
    border: 0;
    width: 400px;
    margin: 0 auto;
    td {
        height: 25px;
        width: 25px;
        &:hover {
            cursor:pointer;
            background: #dedede;
        }
        &.selected {
            background: #dedede;
        }
        &.other-selected {
            background: #eee;
            &:hover {
                cursor: default;
            }
        }
    }


}
